body {
  background-image: url(../../../images/fondoceleste.jpeg);
}
.card {
    box-sizing: border-box;
    width: 200px;
    height: 270px;
    background: #F8FB7D;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(0.5s);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: #202A4E;
    font-family: 'nunito';
    margin-bottom: 1rem;
  }
  
  .card:hover {
    border: 2px solid #B26389;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

  .conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5rem;
  }

  .bloque{
    display: flex;
    flex-direction: column;

  }
  .bloque h2 {
    font-size: 20px;
  }

  .bloque2{
    color:#202A4E;
    width: 20rem;
    padding: .8em;
    border-radius: 20px;
    border: 2px solid;
    border-color:#B26389;
    margin-bottom: 20px;
  }

  .contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1.3rem;
    width: 70rem;
    margin-bottom: 2rem;
  }

  .contenedorSupremo{
    background-image: url(../../../images/fondoceleste.jpeg);
    width: 110%;

  }