.footer {
    display: inline;
    position: relative;
    z-index: 1000;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;  
    justify-content: center; 
    height: 3rem;
    background-color: #202A4E;
    width: 84.3rem;
    
}

.contenedor{
    color:bisque;
    display: inline;
 
}

.texto{
    font-size: 12px;
}