@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito:wght@400;500&family=Roboto:ital,wght@1,300&display=swap');

.logo {
width: 8.8rem;
height: 3.5rem;
margin-right: 2rem;
}



.nav{
    display: inline;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;  
    justify-content: center; 
   height: 4.2rem;
    background-color: #202A4E;
    width: 100%;
    
}

.button{
    margin: .8rem;
    margin-left: 1rem;
    padding: .5rem;
    background-color:transparent;
    color: fffff;
    font-size: 14px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 10px 20px;
    font-family: 'nunito', sans-serif;
    
}




   
   button:hover {
  
    transform: scale(1.1);
   }

   button:active {
    color:#202A4E;
    background-color: #F8FB7D;
   }
   
   .button1{
    margin: .8rem;
    margin-left: 1rem;
    padding: 1rem;
   font-weight: 500;
    background-color: #58a31a;
    color: fffff;
    font-size: 16px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 10px 20px;
    font-family: 'Nunito';

   }
 